<!DOCTYPE html>
<html>
<head>
	<title>TransportApp</title>
	<link rel="icon" type="image/png" href="https://image.winudf.com/v2/image1/Y28uY2hpcGVyLmxvZ2lzdGljX2ljb25fMTU1NTMzNzIxNF8wNzE/icon.png?w=170&fakeurl=1" />
	<script src='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css' rel='stylesheet' />
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet'>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src='./scripts/index.js'></script>
	<link rel="stylesheet" type="text/css" href="./styles/style.css">
</head>
<body>
	<div class='sidebar'>
		<div class='heading'>
		  <h1>TransportApp</h1>
		</div>
		<div id='listings' class='listings'></div>
	  </div>
	<div id='map' class='map pad2'>Map</div>
</body>
</html>